# Global ignore to shrink build contexts
.git
.gitignore
**/__pycache__
**/*.py[cod]
**/*.log
**/*.db
**/*.sqlite*
.env
.env.*
node_modules
frontend/node_modules
backend/app/database/*.db
backend/app/logs
backend/logs
**/models/*
**/dist
**/build
Dockerfile
.dockerignore
